<main class="main">
  <div class="container mdl-grid">
    <div class="mdl-cell mdl-cell--2-col"></div>
    <div class="mdl-cell mdl-cell--8-col material mdl-color--white mdl-shadow--4dp">
      <div class="mdl-grid">
        <div class="mdl-cell mdl-cell--12-col">
          <h3>REGISTER</h3>
        </div>
      </div>
      <div class="mdl-grid">
        <!-- Numeric Textfield with Floating Label -->
        <form action="#">
          <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
            <input class="mdl-textfield__input" type="text" pattern="-?[0-9]*(\.[0-9]+)?" id="sample4">
            <label class="mdl-textfield__label" for="sample4">Number...</label>
            <span class="mdl-textfield__error">Input is not a number!</span>
          </div>
        </form>
      </div>
    </div>
    <div class="mdl-cell mdl-cell--2-col"></div>
  </div>
</main>